// Muller Bold
@font-face {
    font-family: 'Muller';
	src: url('../fonts/Muller/Muller-Bold.woff2'),
		url('../fonts/Muller/Muller-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

// Muller Medium
@font-face {
    font-family: 'Muller';
	src: url('../fonts/Muller/Muller-Medium.woff2'),
		url('../fonts/Muller/Muller-Medium.woff');
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}

// Muller Regular
@font-face {
    font-family: 'Muller';
	src: url('../fonts/Muller/Muller-Regular.woff2'),
		url('../fonts/Muller/Muller-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

// Effra Bold
// @font-face {
//     font-family: 'Effra';
// 	src: url('../fonts/Effra/Effra-Bold.woff2'),
// 		url('../fonts/Effra/Effra-Bold.woff');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: fallback;
// }
